<div class="repo">
    <h2>
        <%= link_to user_repo_posts_path(repo.user.slug, repo.slug) do %>
            <%= fa_icon "book" %> <%= repo.name%>
        <% end %>
    </h2>
    <p class='stats'>
        <%= fa_icon "file" %> <%= pluralize(repo.posts.count,"post" )%>
    </p>
    <p>Project description</p>
</div>
