<li class="media member">
    <a class="pull-left">
        <%= image_tag user.avatar, class:"img-rounded" %>
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <%= link_to user.name, user_path(user) %>
        </h4>
        <p>
            <%=link_to user.github, target:"_blank" do %>
                <%= fa_icon "github"%><%=user.username%>
            <% end %>
        </p>
        <p class="stats">
        <span title="<%= pluralize(user.repos.count, "repository")%>">
            <%= fa_icon "book"%> <%= user.repos.count %>
        </span>
        &nbsp;
        <span title="<%= pluralize(user.posts.count, "post") %>">
            <%= fa_icon "file"%> <%= user.posts.count %>
        </span>
        </p>
    </div>
</li>
