<% replace :page_header do %>
    <h1>Members</h1>
<% end %>
<% replace :main_content do %>

<ul class='media-list members'>
<%= render partial: "user", collection: @users %>
</ul>

<% end %>

<%= replace :sidebar do %>
<div class="panel panel-default">
  <div class="panel-heading">Statistics</div>
  <div class="panel-body">
      <p class="lead">
      Proudly serving <strong><%= pluralize(User.count, "user")%></strong>,
      hosting <strong><%= pluralize(Repo.count, "project blog")%></strong>,
      with <strong><%= pluralize(Post.count, "post")%></strong> published.
  </div>
</div>
<% end %>
