<% replace :page_header do %>
    <%= image_tag @user.avatar_url, size: "60", class: "img-thumbnail" %>
    Hello, <%= @user.name %>
<% end %>
<% replace :main_content do %>

    <h2>News Feed</h2>
    <% if @posts.count > 0 %>
        <% render_posts @posts, true %>
    <% else %>
        <p>The blogs you follow have no new posts.</p>
        <p>Follow more <%= link_to "users", projects_path %> for more posts.</p>
    <% end %>

<% end %>
<% replace :sidebar do %>
    <%= render partial: "repos/sidebar_listing", locals: {user: current_user} %>
<% end %>

<%= append :javascript do %>
    <script>
        $('.blog_content').each(function() {
            OctoBlog.Renderer.renderBlock($(this), {
                excerpt: 1
            });
        });
    </script>
<% end %>

