<% replace :page_header do %>
    <%= image_tag @user.avatar_url, size: "60", class: "img-thumbnail" %>
    Hello, <%= @user.name %>
<% end %>
<% replace :main_content do %>

    <h2>News Feed</h2>
    <% if @posts.count > 0 %>
        <%= render partial: "posts/post", collection: @posts %>
    <% else %>
        <p>The blogs you follow have no new posts.</p>
        <p>Follow more <%= link_to "blogs", projects_path %> for more posts</p>
    <% end %>

<% end %>
<% replace :sidebar do %>
    <h2>Your Repos</h2>
    <div class="list-group">
        <%= link_to new_user_repo_path(@user),
            class: "list-group-item" do %>
            <%= fa_icon "plus" %> Add a repo
        <% end %>
        </li>
        <% if @user.repos.count > 0 %>
            <% @user.repos.each do |repo| %>
                <%= link_to repo.name, user_repo_posts_path(@user, repo),
                    class: "list-group-item" %>
            <% end %>
        <% end %>

    </div>
<% end %>

