<%= form_for @post, url: (@post.new_record? ? user_repo_posts_path : user_repo_post_path) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Post Title" %>
  </div>

  <div class="form-group">
      <%= f.label :content, "Content" %>
      <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <% if @post.new_record? %>
        <%= link_to "Cancel", user_repo_posts_path, class: "btn btn-default btn-sm" %>
    <% else %>
        <%= link_to "Cancel", user_repo_post_path, class: "btn btn-default btn-sm" %>
    <% end %>
  </div>
<% end %>
