<article class="blog_post">
<h2 class='blog_heading'>
    <%= link_to user_repo_post_path(@user, @repo, post) do %>
        <%= post.title %>
    <% end %>
    <small>
        <time datetime="<%= post.created_at %>"
        title="<%= post.created_at.strftime "%F %T" %>">
            <%= post.created_at.strftime "%F" %>
        </time>
        by
        <%= link_to user_repos_path(post.repo.user) do %>
            <%= post.repo.user.name %>
        <% end %>
    </small>
</h2>
<div class='blog_content' style='display: none'>
    <%= post.content %>
</div>
</article>
