<article class="blog_post">
<h2 class='blog_heading'>
    <%= link_to user_repo_post_path(post.user.slug, post.repo.slug, post.slug) do %>
        <%= post.title %>
    <% end %>

    <div class='pull-right'>
        <% if can? :update, post then %>
            <%= link_to edit_user_repo_post_path(post.user, post.repo, post.id),
                class: "btn btn-primary btn-xs" do %>
                <%= fa_icon "pencil" %>
                Edit
            <% end %>
        <% end %>
        <% if can? :destroy, post then %>
            <%= button_to user_repo_post_path(post.user, post.repo, post),
                method: "delete",
                class: "btn btn-danger btn-xs",
                confirm: "Are you sure you want to delete this post?" do %>
                    <%= fa_icon "trash-o" %>
                    Delete
                <% end %>
        <% end %>
    </div>

    <small>
        <time datetime="<%= post.created_at.in_time_zone('Eastern Time (US & Canada)') %>"
        title="<%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime "%F %T" %>">
            <%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime "%F" %>
        </time>
            by
            <%= link_to post.user.name, user_repos_path(post.user)%>
        <% if controller_name != "posts" %>
            in
            <%= link_to post.repo.name, user_repo_posts_path(post.user, post.repo) %>
        <% end %>
    </small>
</h2>
<div class='blog_content' style='display: none'>
    <%= post.content %>
</div>

<% if more %>
    <%= link_to "read more",
    user_repo_post_path(post.user, post.repo, post) %>
<% end %>
</article>
