<%= render partial: "header" %>

<% replace :main_content do %>
    <% if @posts.count > 0 %>
        <%= render partial: "post", :collection => @posts %>
    <% else %>
        <p><%= @repo.name %> contains no posts yet.</p>
    <% end %>
<% end %>

<%= render partial: "sidebar" %>

<%= append :javascript do %>
    <script>
        $('.blog_content').each(function() {
            OctoBlog.Renderer.renderBlock($(this));
        });
    </script>
<% end %>
