<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "OctoBlog", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to projects_path do %>
            Browse
          <% end %>
        </li>
        <li>
          <%= link_to members_path do %>
            Members
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= fa_icon "user", text: "#{current_user.name}" %>
            <% end %>
          </li>
          <li>
            <%= link_to signout_path do %>
              Sign Out
              <%= fa_icon "sign-out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <% if Rails.env.development? %>
              <%= link_to '/auth/developer/' do %>
                Sign In (dev)
                <%= fa_icon "sign-in" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to '/auth/github/' do %>
              Sign In
              <%= fa_icon "sign-in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
