<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= area :title, "OctoBlog" %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="main">
      <%= render "layouts/navbar" %>
      <%= yield %>
    </div>
  </div>

  <%= render "layouts/footer" %>

  <%= javascript_include_tag "application" %>
  <%= area :javascript %>
</body>
</html>
