<!DOCTYPE html>
<html>
<head>
  <title>OctoBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="main">
      <%= render :partial => "layouts/navbar" %>
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
	<div id="copyright_message">
	  &copy; 2013 5Devs. All rights reserved.
	</div>
	<div id="footer_links">
	  Here are some links.
	</div>
      </div>
    </div>
  </footer>

</body>
</html>
